*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--Cream);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat", serif;
}

.preview{
    display: flex;
    width: 40em;
    height: auto;
}
img{
    border-radius: 10px 0 0 10px;
    width: 50%;
}

.perfume{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--White);
    border-radius: 0px 10px 10px 0px;
    padding: 30px;
}
b{
    letter-spacing: 10px;
    color: var(--Dark-grayish-blue);
}
h1{
    font-family: "Fraunces", serif;
    font-weight: 700;
    padding: 5px;
    margin-top: 10px;
    color: var(--Very-dark-blue);
}
p{
    padding: 5px;
    margin-top: 10px;
    color: var(--Dark-grayish-blue);
}
.price{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Fraunces", serif;
    font-weight: 700;
}
.price p:nth-child(1){
    color: var(--Dark-cyan);
    font-size: 2.3rem;
}
.price p:nth-child(2){
    text-decoration: line-through;
}
a img{
    width: 15px;
}

a{
    background-color: var(--Dark-cyan);
    text-decoration: none;
    color: var(--White);
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    gap: 10px;
    font-size: 12px;
    font-family: "Montserrat", serif;
    font-weight: 700;
}
a:hover{
    background-color: var(--Very-dark-blue);
}
@media (max-width:600px) {
    body{
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
    }
    .preview{
        flex-direction: column;
        margin: 50px;
    }
    img,
    .perfume{
        width: 100%;
    }
    img{
        border-radius: 15px 15px 0 0;
    }
    .perfume{
        border-radius: 0 0 15px 15px;
    }

}